<div class="land">

  <header class="header">
    <div class="header-content">
      <div class="header__left">
        <div>Angular UiKit</div>
      </div>
      <div class="header__right">
        <div>Начать обучение </div>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="content__fig-wrapper">
      <svg id='loading' width="500" height="500">
        <rect x="50" y="20" rx="20" ry="20" width="400" height="400" style="fill:none;stroke:white;stroke-width:5;" />
      </svg>
    </div>
    <div class="content__video">
      <video class="content__video__item"  autoplay
        poster="https://st3.depositphotos.com/30045206/32707/v/600/depositphotos_327076670-stock-video-skateboarder-doing-flip-trick-super.jpg"
        preload="true" loop="" id="vjs_video_1_html5_api" tabindex="-1">
        <source type="video/mp4"
          src="https://st3.depositphotos.com/30045206/32707/v/600/depositphotos_327076670-stock-video-skateboarder-doing-flip-trick-super.mp4">
      </video>
    </div>
    <div class="content__text-wrapper">
      <div>
        <div>
          Как создать UiKit
        </div>
        <div>
          На платформе Angular
        </div>
      </div>
    </div>
  </div>


  <div class="content-promo">
    <div class="content-promo__text">
      <div>
        Разработчик UI компонентов решает задачи для бизнеса: создает уникальные для компании компоненты и поставляет
        продукт ввиде UiKit для остальных команд разработки.
        Во время прохождения курса мы научимся разрабатывать компоненты на Angular.
      </div>
    </div>
  </div>

  <div class="content-job">
    <div class="content-job__text">
      <div>
        UI компоненты это отдельный ИТ продукт внутри компании.
      </div>
      <div>
        Более сложный уровень разработки на Angular и других веб инструментах.
      </div>
      <div>
        Стань лидером отрасли, научись разрабатывать сложные элементы продуктов.
      </div>
    </div>
  </div>

  <div class="content-stady">
    <div class="content-stady__text">
      <div>
        Что вы узнаете и сделаете в курсе
      </div>
    </div>
    <div class="content-stady__cards">
      <div class="content-stady__cards__card">
        <div>
          <img class="content-stady__cards__card__img"
            src="https://raw.githubusercontent.com/AnteaterKit/ng-pallete/master/Screenshot%202020-12-22%20at%2023.13.45.png" />
        </div>
        <div class="content-stady__cards__card__title">
          Angular - вспомнить все
        </div>
        <div class="content-stady__cards__card__subtitle">
          Рассмотрим основные термины и api для создания UiKit
        </div>
      </div>
      <div class="content-stady__cards__card">
        <div>
          <img class="content-stady__cards__card__img"
            src="https://raw.githubusercontent.com/AnteaterKit/ng-pallete/master/Screenshot%202020-12-22%20at%2023.14.01.png" />
        </div>
        <div class="content-stady__cards__card__title">
          Чеклист UiKit Angular
        </div>
        <div class="content-stady__cards__card__subtitle">
          Правильное создание компонентов для потребителей: производительность, масштабирование и тесты
        </div>
      </div>
      <div class="content-stady__cards__card">
        <div>
          <img class="content-stady__cards__card__img"
            src="https://raw.githubusercontent.com/AnteaterKit/ng-pallete/master/Screenshot%202020-12-22%20at%2023.23.59.png" />
        </div>
        <div class="content-stady__cards__card__title">
          Реализуем UiKit
        </div>
        <div class="content-stady__cards__card__subtitle">
          Правильное создание компонентов для потребителей: производительность, масштабирование, тесты, schematics
        </div>
      </div>
    </div>
  </div>

  <div class="content-get">
    <div class="content-get__text">
      <div lass="content-get__text__logo">
        Вы получите
      </div>
      <div class="content-get__text__item">
        6 статей чеклистов по Angular UiKit
      </div>
      <div class="content-get__text__item">
        30 статей по Angular Api и NgRx используемых для создания UiKit
      </div>
      <div class="content-get__text__item">
        Узнаете как создавать типографику, палитры и иконки для UiKit
      </div>
      <div class="content-get__text__item">
        10 мануалов с подробным объясением по созданию компонентов: button, input, select, autocomplete, checkbox, form,
        icon, card, tooltip, layout.
      </div>
    </div>
    <div class="content-get__btn-wrap">
      <button class="content-get__btn" [size]='sizeLg' flatButton color="primary"> Начать обучение</button>
    </div>
  </div>

  <div class="content-stages">
    <div class="content-stages__content">
      <div style="margin-bottom: 32px;">
        Программа обучения
      </div>
      <div class="content-stages__content__item">
        <div style="display: flex;">
          <div class="circle">
          </div>
          <div class="content-stages__content__item__title">Angular вспомнить все
            <div class="content-stages__content__item__subtitle">&nbsp;4 часа</div>
            <div class="content-stages__content__item__info">
              Изучим гланые концепции Angular. Рассмотрим api Angular, необходимое для создания UiKit.
               Пройдемся по Angular CDK. 
               <br/>
               Изучим RxJs и RxJs Operators для UiKit.
            </div>
          </div>

        </div>
        <div class="content-stages__content__item__tail"></div>
      </div>
      <div class="content-stages__content__item">
        <div style="display: flex;">
          <div class="circle">
          </div>
          <div class="content-stages__content__item__tail"></div>
          <div class="content-stages__content__item__title">Angular UIKit Чеклист
            <div class="content-stages__content__item__subtitle">&nbsp;4 часа</div>
            <div class="content-stages__content__item__info">
              Пройдем 6 уроков по правильной архитектуре, производительности и качеству создания UiKit компонентов на Angular. 
            </div>
          </div>
        </div>
      </div>
      <div class="content-stages__content__item">
        <div style="display: flex;">
          <div class="circle">
          </div>
          <div class="content-stages__content__item__title">Создание компонентов
            <div class="content-stages__content__item__subtitle">&nbsp;16 часов</div>
            <div class="content-stages__content__item__info">
              Заложим базу UiKit: типографику и цвета. На этой базе создадим компоненты. 
              <br/>
              Создание каждого компонента это пошаговый мануал c описанием архитектуры компонента и используемого кода из Angular api и RxJs. 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>