<div style="padding: 24px; background-color: white; height: 100%;">
  <div >
    <h1>Angular</h1>
    <div>Платформа для разработки веб-приложений, написанная на языке TypeScript, разрабатываемая командой из компании
      Google</div>
  </div>

  <div style="display: flex; margin-top: 24px;
  margin-bottom: 24px;">

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Основные термины
        </div>
        <div class="card-content">
          <div>Директивы</div>
          <div>Компоненты</div>
          <div>Пайпы</div>
          <div>Сервисы</div>
          <div>Модули</div>
          <div>Формы</div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Api
        </div>
        <div class="card-content">
          <div>NgContent, NgTemplate, NgContainer</div>
          <div>ViewChild, ElementRef, TemplateRef, ViewContainerRef</div>
          <div>ControlValueAccessor</div>
          <div>ChangeDetectorRef</div>
          <div>ChangeDetectionStrategy</div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Angular cdk
        </div>
        <div class="card-content">
          <div>Layout</div>
          <div>Portal</div>
          <div>Overlay</div>
        </div>
      </div>
    </div>

  </div>


  <div class="devider"></div>

  <div style="display: flex; margin-top: 24px;
  margin-bottom: 160px;">


    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          RxJs
        </div>
        <div class="card-content">
          <div>Subject</div>
          <div>BehaviorSubject</div>
          <div>Subscription</div>
          <div>merge</div>
          <div>fromEvent</div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          RxJs Operators
        </div>
        <div class="card-content">
          <div>startWith</div>
          <div>takeUntil</div>
          <div>filter</div>
          <div>switchMap</div>
        </div>
      </div>
    </div>

</div>


</div>