<div style="padding: 24px; background-color: white; height: 100%;">
  <div >
    <h1>Angular</h1>
    <div>Платформа для разработки веб-приложений, написанная на языке TypeScript, разрабатываемая командой из компании
      Google</div>
      <br/>
      <div>
       Angular api и RxJs имеют довольно большое Api и функционал, но для реализации продукта, в данном случае UiKit, 
       можно использовать только необходимое API.  
       Ниже собраны все инструменты, которые пригодятся для реализации компонент. Рекомендую их повторить, если забыли или вы не успели их попробовать.
      </div>
  </div>

  <div style="display: flex; margin-top: 24px;
  margin-bottom: 24px;">

    <div #ngall (click)='navigate("ngmain")' class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Основные термины
        </div>
        <div class="card-content">
          <div>Директивы</div>
          <div>Компоненты</div>
          <div>Пайпы</div>
          <div>Сервисы</div>
          <div>Модули</div>
          <div>Формы</div>
        </div>
      </div>
    </div>

    <div  #ngapi (click)='navigate("ngapi")' class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Api
        </div>
        <div class="card-content">
          <div>NgContent, NgTemplate, NgContainer</div>
          <div>ViewChild, ElementRef, TemplateRef, ViewContainerRef</div>
          <div>ControlValueAccessor</div>
          <div>ChangeDetectorRef</div>
          <div>ChangeDetectionStrategy</div>
        </div>
      </div>
    </div>


    <div #ngcdk (click)='navigate("ngcdk")' class="card">
      <div class="card-wrapper">
        <div class="card-header">
          Angular cdk
        </div>
        <div class="card-content">
          <div>Layout</div>
          <div>Portal</div>
          <div>Overlay</div>
        </div>
      </div>
    </div>

  </div>


  <div class="devider"></div>

  <div style="display: flex; margin-top: 24px;
  margin-bottom: 160px;">


    <div #ngrx (click)='navigate("ngrxjs")' class="card">
      <div class="card-wrapper">
        <div class="card-header">
          RxJs
        </div>
        <div class="card-content">
          <div>Subject</div>
          <div>BehaviorSubject</div>
          <div>Subscription</div>
          <div>merge</div>
          <div>fromEvent</div>
        </div>
      </div>
    </div>

    <div #ngrxo (click)='navigate("rxoperators")' class="card">
      <div class="card-wrapper">
        <div class="card-header">
          RxJs Operators
        </div>
        <div class="card-content">
          <div>startWith</div>
          <div>takeUntil</div>
          <div>filter</div>
          <div>switchMap</div>
        </div>
      </div>
    </div>

</div>


</div>


<div id='face' #face style="position: absolute; top: 500px; right: 120px;" >
  <img style="width: 200px;" src="../../../assets/faces/my.svg" />
</div>

<!--

<div class="dialog" id="text1" style="position: absolute; top: 750px; right: 320px;" >
  Привет!
</div>

<div class="dialog" id="text2" style="position: absolute; top: 790px; right: 320px;" >
  В этом блоке я расскажу тебе про гланые термины Angular и RxJs для создания UiKit
</div>


<div class="dialog" #text3 id="text3" style="position: absolute; top: 790px; right: 320px;" >
  Мы вспомним основные термины Angular.
</div>

<div class="dialog" #text4 id="text3" style="position: absolute; top: 790px; right: 320px;" >
  Пройдем Angular API для создания кастомных компонентов.
</div>

<div class="dialog" #text5 id="text5" style="position: absolute; top: 790px; right: 320px;" >
  Выучим RxJs и  RxJs operators для конкретных сценариев
</div>

<div class="dialog" #text6 id="text5" style="position: absolute; top: 790px; right: 320px;" >
  В этот блок всегда можно возвращаться, чтобы повторить базу
</div>

-->