<div style="
padding: 24px;
background-color: white; height: 100%;">
  <div style="display: flex; align-items: center;">
    <h1>Angular</h1>&nbsp;<h3>платформа для разработки веб-приложений, написанная на языке TypeScript, разрабатываемая командой из компании Google</h3>
  </div>

  <h1>Основные термины</h1>
  
  <div>
    <div>
      <h2>Директивы</h2>
    </div>
  </div>


  <div>
    <div>
      <h2>Компоненты</h2>
    </div>
  </div>

  
  <div>
    <div>
      <h2>Пайпы</h2>
    </div>
  </div>

    
  <div>
    <div>
      <h2>Сервисы</h2>
    </div>
  </div>

  <div>
    <div>
      <h2>Модули</h2>
    </div>
  </div>

  
  <div>
    <div>
      <h2>Формы</h2>
    </div>
  </div>

  <div class="devider"></div>

  <h1>Api</h1>

  <div>
    <div>
      <h2>NgContent, NgTemplate, NgContainer</h2>
    </div>
  </div>

  <div>
    <div>
      <h2>ViewChild, ElementRef, TemplateRef, ViewContainerRef</h2>
    </div>
  </div>

  <div>
    <div>
      <h2>ControlValueAccessor</h2>
    </div>
  </div>

  <div>
    <div>
      <h2>ChangeDetectorRef</h2>
    </div>
  </div>

  <div>
    <div>
      <h2>ChangeDetectionStrategy</h2>
    </div>
  </div>

  <div class="devider"></div>

  <h1>Angular cdk</h1>
  <div>
    <div>
      <h2>  layout</h2>
    </div>
  </div>
  <div>
    <div>
      <h2>  portal</h2>
    </div>
  </div>
  <div>
    <div>
      <h2>  overlay</h2>
    </div>
  </div>

  

  <div class="devider"></div>
  
  <h1>RxJs</h1>

  <div>
    <div>
      <h2>RxJs: Subject, BehaviorSubject, Subscription, merge, fromEvent </h2>
    </div>
  </div>


  <div>
    <div>
      <h2>RxJs Operators: startWith, takeUntil, filter, switchMap</h2>
    </div>
  </div>

</div>