<div style="margin: 24px;
padding: 24px;
background-color: white; height: 100%;">

<div>
  <div>
    <h2>UiKit Angular</h2>
  </div>
  <div>
    <h4>Готовая реализация типографики, цветов, иконок и компонентов согласно дизайн системе компании</h4>
  </div>
  <div style="display: flex;">
    <h4>Material -> </h4> <h4> Material Angular</h4>
  </div>
  <div style="display: flex;">
    <h4>Ant Design -> </h4> <h4> NG ZORRO</h4>
  </div>
  <div style="display: flex;">
    <h4>Дизайн система компании -> </h4> <h4> UiKit под конкретную платформу/framework</h4>
  </div>
</div>

</div>