<div style="padding: 24px; background-color: white; height: 100%;">

  <div>
    <div>
      <h1>UiKit Angular</h1>
    </div>
    <div>
      <div>Конкретная реализация на web/mobile фреймворке типографики, цветов, иконок и компонентов по дизайн системе.
      </div>
    </div>

    <div style="display: flex; margin-top: 24px;
  margin-bottom: 26px;">

      <div class="card ">
        <div class="card-wrapper">
          <div style="    display: flex;
    align-items: center;
" class="card-header">
            <div
              style="display: block;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        background: url(https://storage.googleapis.com/material-io-static/production/1607028959720/static/angular/mio-logo-sprite.46a35221e587121d85e8.png) 100% 50%/auto 100% no-repeat;">
            </div>
            <div>Material </div>
          </div>
          <div class="card-content">

            <div>
              Material Angular
            </div>

          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-wrapper">
          <div style="    display: flex;
          align-items: center;" class="card-header">
            <img width="32" src='https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg'>
            <div style="margin-left: 16px;">Ant Design </div>
          </div>
          <div class="card-content">
            <div>NG ZORRO</div>

          </div>
        </div>
      </div>

    </div>

    <div style="display: flex; margin-top: 24px;
    margin-bottom: 160px;">

      <div style="width: 648px;" class="card">
        <div class="card-wrapper">
          <div style="    display: flex;
    align-items: center;" class="card-header">
            <div>
              <img width="30" src="../../../assets/uikit.svg" />
            </div>
            <div style="margin-left: 16px;">UiKit Quick start</div>
          </div>
          <div class="card-content">
            <div>
              <div> 3 статьи и 6 пунктов чеклиста angular UiKit</div>
              <div> 5 разделов с 30-ю материалами angular и rxjs </div>
              <div> типографика цвета иконки </div>
              <div> 10 компонентов </div>
              <div> рекомендации по Schematics </div>
              <div> рекомендации по Core CDK </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>