<div style="margin: 24px;
padding: 24px;
background-color: white; height: 100%;">

<h2 style="padding-left: 20px;">Select</h2>
<div style="margin: 20px">
  <div class='wrap'>
    <my-select >
      <my-option [label]='1' [value]='1'></my-option>
      <my-option [label]='2' [value]='2'></my-option>
      <my-option [label]='3' [value]='3'></my-option>
      <my-option [label]='4' [value]='4'></my-option>
      <my-option [label]='5' [value]='5'></my-option>
    </my-select>
  </div>
</div>
</div>