<div style="
padding: 24px;
background-color: white; height: 100%;">

<h2 style="padding-left: 20px;">Select</h2>
<div style="margin: 20px">
  <div class='wrap'>
    <my-select >
      <my-option label='typescript' [value]='1'></my-option>
      <my-option label='html' [value]='2'></my-option>
      <my-option label='nodejs' [value]='3'></my-option>
      <my-option label='uikit' [value]='4'></my-option>
      <my-option label='design' [value]='5'></my-option>
    </my-select>
  </div>
</div>
</div>