<div style="padding: 24px;
background-color: white; height: 100%;">
  <h2 style="padding-left: 20px; ">Icons</h2>
  <div style="margin: 24px; margin-left: 0px; ">
    <div style="display: flex;margin-bottom: 36px; ">
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/uikit.svg" />
        <div class="icon-wrapper__text">uikit</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/remember.svg" />
        <div class="icon-wrapper__text">remember</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/check.svg" />
        <div class="icon-wrapper__text">checklist</div>
      </div>
    </div>
    <div style="display: flex; margin-bottom: 36px;">
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/typo.svg" />
        <div class="icon-wrapper__text">typo</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/colors.svg" />
        <div class="icon-wrapper__text">color</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/icons.svg" />
        <div class="icon-wrapper__text">icon</div>
      </div>
    </div>
    <div style="display: flex; margin-bottom: 36px;">
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/button.svg" />
        <div class="icon-wrapper__text">button</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/input.svg" />
        <div class="icon-wrapper__text">input</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/select.svg" />
        <div class="icon-wrapper__text">select</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/auto.svg" />
        <div class="icon-wrapper__text">autocomplete</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/checkbox.svg" />
        <div class="icon-wrapper__text">checkbox</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/form.svg" />
        <div class="icon-wrapper__text">form</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/card.svg" />
        <div class="icon-wrapper__text">card</div>
      </div>
      <div class="icon-wrapper">
        <img class="icon-wrapper__icon" src="../../../assets/icons/uikit/tooltip.svg" />
        <div class="icon-wrapper__text">tooltip</div>
      </div>
    </div>
  </div>
</div>