<div style="margin: 24px;
padding: 24px;
background-color: white; height: 100%;">

<div>
  <h2>Чеклист библиотеки компонентов на Angular</h2>
</div>

<div>
  <h4>1. Secondary entry points</h4>
</div>

<div>
  <h4>2. Changedetectionstrategy OnPush</h4>
</div>

<div>
  <h4>3. Делай иконки правильно, влияют на размер бангла</h4>
</div>

<div>
  <h4>4. Покрывай тестами</h4>
</div>

<div>
  <h4>5. Используй schematics для миграций и быстрого создания примеров использования</h4>
</div>

<div>
  <h4>6. Токенизируй чтобы ssr взлетел</h4>
</div>

<div>
  <h4>7. Используй Angular api - оно очень сильно помогает!</h4>
</div>


</div>