<div style="padding: 24px; background-color: white; height: 100%;">

  <div>
    <h1>Чеклист библиотеки компонентов на Angular</h1>
  </div>

  <div>
    Реализация UiKit на различных фрейморках имеет свои особенности. Ниже я собрал список рекомендаций со статьями 
    с главными принцыпами построения UiKit на Angular. Для React и View данные особенности свои. 
  </div>

  <div style="display: flex; margin-top: 24px;
margin-bottom: 24px;">

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          1. Secondary entry points
        </div>
        <div class="card-content">
          <div>Подход распределения зависимостей по модулям </div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          2. Changedetectionstrategy OnPush
        </div>
        <div class="card-content">
          <div>Стратегия изменений </div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          3. Делай иконки правильно
        </div>
        <div class="card-content">
          <div>Влияют на размер бангла </div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

  </div>


  <div style="display: flex; margin-top: 24px;
  margin-bottom: 160px;">

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          4. Покрывай тестами
        </div>
        <div class="card-content">
          <div>e2e</div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          5. Используй schematics
        </div>
        <div class="card-content">
          <div>Миграция, создание примеров</div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
         6. А что если SSR?
        </div>
        <div class="card-content">
          <div>Tokens</div>
          <div>renderer2</div>
          <div>https://www.willtaylor.blog/angular-universal-gotchas/</div>
          <div>https://indepth.dev/posts/1308/best-angular-tips</div>
          <div class="card-action"><a>Открыть статью</a></div>
        </div>
      </div>
    </div>

  </div>

</div>