<div style="margin: 24px;
padding: 24px;
background-color: white; height: 100%;">


  <h2 style="padding-left: 20px;">Анатомия и использование поля ввода</h2>
  <div style="margin: 20px">
    <div class='wrap'>
      <div>
        <h6 style="margin: 0px;">Input дефолтный</h6>
        <input-field>
          <input sh-input placeholder="Input дефолтный" />
        </input-field>
        <h6 style="margin: 0px;">Input префикс </h6>
        <input-field shPrefix='$'>
          <input sh-input />
        </input-field>

        <h6 style="margin: 0px;">Input префикс и addOn</h6>
        <input-field shPrefix='$' [shAddonSuffix]='suffixAddOnTemplate'>
          <input sh-input />
        </input-field>

        <h6 style="margin: 0px;">Input addOn</h6>
        <input-field [shAddonSuffix]='suffixAddOnTemplate'>
          <input sh-input />
        </input-field>

      </div>

      <div>
        <h6 style="margin: 0px;">Input s</h6>
        <div>
          <input-field>
            <input sh-input [size]='sizeSm' placeholder="Input S" />
          </input-field>
        </div>
        <h6 style="margin: 0px;">Input M</h6>
        <div>
          <input-field>
            <input sh-input  placeholder="Input M" />
          </input-field>
        </div>
        <h6 style="margin: 0px;">Input L</h6>
        <div>
          <input-field>
            <input sh-input [size]='sizeLg' placeholder="Input L" />
          </input-field>
        </div>
      </div>

      <ng-template #suffixTemplate>
        <div style="display: flex;
                justify-content: center;
                flex-direction: column;">sf</div>
      </ng-template>
      <ng-template #suffixAddOnTemplate>
        <div style="display: flex;
              justify-content: center;
              flex-direction: column;">Руб.</div>
      </ng-template>
    </div>
  </div>

</div>