<div style="padding: 24px; background-color: white; height: 100%;">
  <div>
    <h1>Angular. Основные термины</h1>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper pr-five">
      <div class="card-header">Директива</div>
      <div class="card-content pr-five">
        <div>
          Это класс помеченный декоратором Directive. С помощью нее можно добавлять новое поведение существующему DOM
          элементу.
        </div>
        <div>
          Основные черты: в одном DOM элементе может быть много директив. У директив нет View (template). Внутри
          директивы нельзя использовать пайпы.
        </div>
        <div>
          Когда использовать: создание масок, dragAndDrop, button и тд.
        </div>
        <div style="margin-top: 50px;">
         В UiKit мы будем использовать директиву для создания кнопок
        </div>
        <div style="margin-top: 16px;" >
            <img src="../../../../assets/angular/directive.svg">
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper ac-six">
      <div class="card-header ac-six">Компонент</div>
      <div class="card-content ac-six">
        <div>
          Это класс помеченный декоратором Component. Созданы для того, чтобы разбивать приложение на маленькие кусочки.
        </div>
        <div>
          Основные черты: в одном DOM элементе может быть 1 компонент, в отличие от директив. Есть View (template).
          Внутри
          компонента используются пайпы.
        </div>
        <div>
          Когда использовать: создание представления.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail pr-five">
    <div class="card-wrapper pr-five">
      <div class="card-header pr-five">Пайпы</div>
      <div class="card-content pr-five">
        <div>
          Это класс реализующий interface PipeTransform. Нужны для преобразования данных при их выводе в HTML.
        </div>
        <div>
          Основные черты: Реализует метод transform(value: any, ...args: any[]) и возвращает преобразованное значение.
        </div>
        <div>
          Когда использовать: курсы валют, форматирование чисел и дат, преобразование Enum в текст.
        </div>
        <div>
          Частая ошибка - использовать функцию в шаблоне для преобразования данных там где нужен Pipe.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail ac-six">
    <div class="card-wrapper ac-six">
      <div class="card-header ac-six">Сервисы</div>
      <div class="card-content ac-six">
        <div>
          Это классы для выпонения ряда задач.
        </div>
        <div>
          Поставка данных приложению, может обращаться к бекенду. 
        </div>
        <div>
          Может быть каналом связи между несколькими компоннетами. 
        </div>
        <div>
         Может инкапсулирвоать бизнес логику.
        </div>
        <div>
          Для того, чтобы сервис мог использовать другой сервис или модуль, к классу сервиса применяется декоратор Injectable, этот подход называется DI.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail pr-five">
    <div class="card-wrapper pr-five">
      <div class="card-header pr-five">Модули</div>
      <div class="card-content pr-five">
        <div>
          Базовая составляющая Angular. Любое приложение содержит хотя бы 1 модуль Root (AppModule).
        </div>
        <div>
        </div>
        <div>
          Любая библиотека Angular это набор мудулей, в случае UiKit - кнопка это модуль, Select модуль и тд.
        </div>
        <div>
          Модули можно лениво подгружать для ускорения загрузки приложения. 
        </div>
        <div>
           Состав модуля: 
           <br/>
           declarations - классы представлений, которые принадлежат модулю.
           <br/>
           exports - набор классов представлений, которые использоваться в других модулях.
           <br/>
           imports - модули от которых зависит данный модуль.
           <br/>
           providers - классы сервисы используемые модулем. 
           <br/>
           bootstrap - корневой компонент приложения Angular.
        </div>
      
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail ac-six">
    <div class="card-wrapper ac-six">
      <div class="card-header ac-six">Формы</div>
      <div class="card-content ac-six">
        <div>
          Есть два варианта взаиможействия данных с формой:
          <br/>
          Template-Driven подход основанный на ngModel директиве
          <br/>
          Reactive Forms - реактивные формы.
        </div>
        <div>
          При разработке UiKit стоит учитывать поддержку обоих подходов.
        </div>
      </div>
    </div>
  </div>


</div>