<div style="padding: 24px; background-color: white; height: 100%;">
  <div>
    <h1>Typography</h1>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>Bold</span>
      <span>96</span>
    </div>
    <div class="typo-item-content">
      <div class="h1"> H1 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>Bold</span>
      <span>60</span>
    </div>
    <div class="typo-item-content">
      <div class="h2"> H2 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>Bold</span>
      <span>48</span>
    </div>
    <div class="typo-item-content">
      <div class="h3"> H3 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>SemiBold</span>
      <span>34</span>
    </div>
    <div class="typo-item-content">
      <div class="h4"> H4 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>SemiBold</span>
      <span>24</span>
    </div>
    <div class="typo-item-content">
      <div class="h5"> H5 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>SemiBold</span>
      <span>20</span>
    </div>
    <div class="typo-item-content">
      <div class="h6"> H6 Headline </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>Bold</span>
      <span>16</span>
    </div>
    <div class="typo-item-content">
      <div class="subtitle"> Subtitle </div>
    </div>
  </div>

  <div class="typo-item">
    <div class="typo-item-label">
      <span>Roboto</span>
      <span>Regular</span>
      <span>16</span>
    </div>
    <div class="typo-item-content">
      <div class="body"> Body </div>
    </div>
  </div>

  <h1>Шаги создания</h1>

</div>