<layout >

  <my-header *ngIf='showMenu'>
    UiKit Quick start шаг за шагом
  </my-header>


  <layout>
      <sider *ngIf='showMenu' (collapsedChange)='collapsedChange($event)' >
        <ul style="border-right: 1px solid #f0f0f0;" [collapsed]='collapsed' menu>
          <li routerLink="/uikit" menu-item>
            <img src="../assets/icons/main.svg" />
            <div *ngIf='!collapsed'>
              UiKit
            </div>
          </li>
        
          <li routerLink="/ngabout" menu-item>
            <img src="../assets/icons/main.svg" />
            <div *ngIf='!collapsed'>
              Вспомнить все Angular
            </div>
          </li>
        
          <li routerLink="/check" menu-item>
            <img src="../assets/icons/main.svg" />
            <div *ngIf='!collapsed'>
              NG UIKit check list
            </div>
          </li>
        
          <div class="devider"></div>

          <li routerLink="/typo" menu-item>
            <img src="../assets/icons/typo.svg" />
            <div *ngIf='!collapsed'>
              Typo
            </div>
          </li>

          <li routerLink="/colors" menu-item>
            <img src="../assets/icons/1.svg" />
            <div *ngIf='!collapsed'>
              Colors
            </div>
          </li>

          <li routerLink="/icons" menu-item>
            <img src="../assets/icons/1.svg" />
            <div *ngIf='!collapsed'>
              Icons
            </div>
          </li>

          <div class="devider"></div>

          <li routerLink="/buttons" menu-item>
            <img src="../assets/icons/1.svg" />
            <div *ngIf='!collapsed'>
              Buttons
            </div>
          </li>
          <li routerLink="/inputs"  menu-item>
            <img src="../assets/icons/2.svg" />
            <div *ngIf='!collapsed'>
              Input
            </div>
          </li>
          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Select
            </div>
          </li>

          <li routerLink="/autocomplete"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Autocomplete
            </div>
          </li>


          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Checkbox
            </div>
          </li>

          <li routerLink="/forms"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Form
            </div>
          </li>

          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Icon
            </div>
          </li>

          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Card
            </div>
          </li>

          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Tooltip
            </div>
          </li>

          <div class="devider"></div>


          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Layout
            </div>
          </li>

          <div class="devider"></div>

          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Schematics
            </div>
          </li>

          <li routerLink="/selects"  menu-item>
            <img src="../assets/icons/3.svg" />
            <div *ngIf='!collapsed'>
              Core cdk
            </div>
          </li>

        </ul>
      </sider>

    <layout>
      <div style="min-height: 80vh;
      height: 100%;">
        <!--
        <div style="margin: 20px">
          <div class='wrap'>
            <button class='button '>Simple</button>
            <button class='button button-primary'>Primary</button>
            <button class='button button-accent'>Accent</button>
            <button class='button button-warn'>Warn</button>
          </div>

          <div class='wrap'>
            <button class='button button-primary-flat'>Simple Flat</button>
            <button class='button button-primary button-primary-flat'>Primary Flat</button>
            <button class='button button-accent button-accent-flat'>Accent Flat</button>
            <button class='button button-warn button-warn-flat'>Warn Flat</button>
          </div>
          
        </div>
       -->

        <router-outlet></router-outlet>

      </div>

      <my-footer  *ngIf='showMenu'>UiKit Angular</my-footer>

    </layout>

  </layout>

</layout>
