<div style="padding: 24px; background-color: white; height: 100%;">
  <div>
    <h1>Angular API</h1>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper">
      <div class="card-header">NgContent, NgTemplate, NgContainer, NgTemplateOutlet</div>
      <div class="card-content">
        <div>Позволяют создавать динамичные и настраиваемые компоненты.</div>
        <div>
          NgContent позволяет родительским компонентам внедрять код html в дочерние компоненты
        </div>
        <div>
          NgTemplate: директив-шаблон, контент которой может быть отображен в другом месте.
        </div>
        <div>
          NgContainer: позволяет применить структурную директиву к разделу страницы, не создавай при этом дополнительный элемент
        </div>
        <div>
          NgTemplateOutlet: может взять NgTemplate шаблон и и создать его экземпляр где угодно на странице.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper">
      <div class="card-header">ViewChild, ElementRef, TemplateRef, ViewContainerRef</div>
      <div class="card-content">
        <div>
          ViewChild: получает доступ в DOM элементу
        </div>
        <div>
          Основные черты: в одном DOM элементе может быть 1 компонент, в отличие от директив. Есть View (template).
          Внутри
          компонента используются пайпы.
        </div>
        <div>
          Когда использовать: создание представления.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper">
      <div class="card-header">ControlValueAccessor</div>
      <div class="card-content">
        <div>
          Это класс реализующий interface PipeTransform. Нужны для преобразования данных при их выводе в HTML.
        </div>
        <div>
          Основные черты: Реализует метод transform(value: any, ...args: any[]) и возвращает преобразованное значение.
        </div>
        <div>
          Когда использовать: курсы валют, форматирование чисел и дат, преобразование Enum в текст.
        </div>
        <div>
          Частая ошибка - использовать функцию в шаблоне там где нужен Pipe.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper">
      <div class="card-header">ChangeDetectorRef</div>
      <div class="card-content">
        <div>
          Это класс реализующий interface PipeTransform. Нужны для преобразования данных при их выводе в HTML.
        </div>
        <div>
          Основные черты: Реализует метод transform(value: any, ...args: any[]) и возвращает преобразованное значение.
        </div>
        <div>
          Когда использовать: курсы валют, форматирование чисел и дат, преобразование Enum в текст.
        </div>
        <div>
          Частая ошибка - использовать функцию в шаблоне там где нужен Pipe.
        </div>
      </div>
    </div>
  </div>

  <div style="width: 100%;" class="card card-detail">
    <div class="card-wrapper">
      <div class="card-header">ChangeDetectionStrategy</div>
      <div class="card-content">
        <div>
          Это класс реализующий interface PipeTransform. Нужны для преобразования данных при их выводе в HTML.
        </div>
        <div>
          Основные черты: Реализует метод transform(value: any, ...args: any[]) и возвращает преобразованное значение.
        </div>
        <div>
          Когда использовать: курсы валют, форматирование чисел и дат, преобразование Enum в текст.
        </div>
        <div>
          Частая ошибка - использовать функцию в шаблоне там где нужен Pipe.
        </div>
      </div>
    </div>
  </div>


</div>