<div style="margin: 24px;
padding: 24px;
background-color: white; height: 100%;">
  <h2 style="padding-left: 20px;">Ng way buttons</h2>
  <div style="margin: 20px">
    <div class='wrap'>
      <button shButton>Simple</button>
      <button shButton id='add-enabled' color="primary">Primary</button>
      <button shButton color="accent">Accent</button>
      <button shButton color="warn">Warn</button>
      <button shButton id='add-disabled' color="primary" disabled="true">Disabled</button>

    </div>

    <div class='wrap'>
      <button flatButton>Simple Flat</button>
      <button flatButton color="primary">Primary Flat</button>
      <button flatButton color="accent">Accent Flat</button>
      <button flatButton color="warn">Warn Flat</button>
    </div>
  </div>
</div>