<div>
  <div style="margin: 24px;">
    <div class="h6"> Primary  </div>
    <div class="color-item pr-fifty"><span>50</span></div>
    <div class="color-item pr-sto"><span>100</span></div>
    <div class=" color-item pr-two"><span>200</span></div>
    <div class=" color-item pr-thr"><span>300</span></div>
    <div class=" color-item pr-tho"><span>400</span></div>
    <div class=" color-item pr-five"><span>500</span></div>
    <div class=" color-item pr-six"><span>600</span></div>
    <div class=" color-item pr-sev"><span>700</span></div>
    <div class=" color-item pr-egh"><span>800</span></div>
    <div class=" color-item pr-nine"><span>900</span></div>
  </div>

  <div style="margin: 24px;">
    <div class="h6"> Accent  </div>
    <div class="color-item ac-fifty"><span>50</span></div>
    <div class="color-item ac-sto"><span>100</span></div>
    <div class=" color-item ac-two"><span>200</span></div>
    <div class=" color-item ac-thr"><span>300</span></div>
    <div class=" color-item ac-tho"><span>400</span></div>
    <div class=" color-item ac-five"><span>500</span></div>
    <div class=" color-item ac-six"><span>600</span></div>
    <div class=" color-item ac-sev"><span>700</span></div>
    <div class=" color-item ac-egh"><span>800</span></div>
    <div class=" color-item ac-nine"><span>900</span></div>
  </div>

  <div style="margin: 24px;">
    <div class="h6"> Warn  </div>
    <div class="color-item w-fifty"><span>50</span></div>
    <div class="color-item w-sto"><span>100</span></div>
    <div class=" color-item w-two"><span>200</span></div>
    <div class=" color-item w-thr"><span>300</span></div>
    <div class=" color-item w-tho"><span>400</span></div>
    <div class=" color-item w-five"><span>500</span></div>
    <div class=" color-item w-six"><span>600</span></div>
    <div class=" color-item w-sev"><span>700</span></div>
    <div class=" color-item w-egh"><span>800</span></div>
    <div class=" color-item w-nine"><span>900</span></div>
  </div>

</div>