<div style="padding: 24px; padding-bottom: 0px;
background-color: white; height: 100%;">
  <h2 style="padding-left: 20px;">Colors</h2>

  <div style="margin: 24px;">
    Следующая базовая составляющая UiKit и дизайн систем это палитра цветов. Выбор палитры это целая философия. 
    Она подчеркивает бренд и индивидуальность продукта. Каждый UIKit реализую спецификацию дизайн системы диктует различные требования к выбору цвета.
    <br />
    <br />
    <b>Material Design: </b> Философия материал — иерархия, разборчивость, выразительность бренда. 
    Делит цвета на 2 категории primary — основной цвет, который виден во всех частях приложения, 
    бренд продукта и secondary (акцентные)— подчеркивает ваш бренд, продукт, можно не использовать 
    (ссылки, селекты, подсветка текста, прогресбар).Есть инструмент создания цветовой схемы.
    <br />
    <br />
    <b>Spectrum:</b> Философия — Четкость и доступность. 
    Тема состоит из серых, семантичных (зеленый, красный — информация, негатив, визуальная коммуникация) 
    и цветов надписей. Доступность контраста и яркости. Наличие статических цветов во всех темах. Не дает создавать свои цвета, так как цвета определенные спектрум проходят стандарты и исследования.
 
    <br/>
    <br />

    <b>AntDesign: </b> Философия — естественность, доступность, психологическое ожидание, сбалансированность, эстетика. Делят цвета на системные(базовая палитра и визуализация данных) и цвета продукта (определяет стиль продукта). Имеет 12 системных цветов, созданных под исследованием и наблюдением. Есть возможность создавать новые цвета в соответствие со спецификацией (Palette Generation Tool). Цвета продукта делят на 3 категории: цвет продукта, функциональные цвета, нейтральные.

  </div>


  <div style="margin: 24px;" class="h5"> Палитра UiKit   </div>

  <div style="margin: 24px;">
    <div class="h6"> Primary  </div>
    <div class="color-item pr-fifty"><span>50</span></div>
    <div class="color-item pr-sto"><span>100</span></div>
    <div class=" color-item pr-two"><span>200</span></div>
    <div class=" color-item pr-thr"><span>300</span></div>
    <div class=" color-item pr-tho"><span>400</span></div>
    <div class=" color-item pr-five"><span>500</span></div>
    <div class=" color-item pr-six"><span>600</span></div>
    <div class=" color-item pr-sev"><span>700</span></div>
    <div class=" color-item pr-egh"><span>800</span></div>
    <div class=" color-item pr-nine"><span>900</span></div>
  </div>

  <div style="margin: 24px;">
    <div class="h6"> Accent  </div>
    <div class="color-item ac-fifty"><span>50</span></div>
    <div class="color-item ac-sto"><span>100</span></div>
    <div class=" color-item ac-two"><span>200</span></div>
    <div class=" color-item ac-thr"><span>300</span></div>
    <div class=" color-item ac-tho"><span>400</span></div>
    <div class=" color-item ac-five"><span>500</span></div>
    <div class=" color-item ac-six"><span>600</span></div>
    <div class=" color-item ac-sev"><span>700</span></div>
    <div class=" color-item ac-egh"><span>800</span></div>
    <div class=" color-item ac-nine"><span>900</span></div>
  </div>

  <div style="margin: 24px;">
    <div class="h6"> Warn  </div>
    <div class="color-item w-fifty"><span>50</span></div>
    <div class="color-item w-sto"><span>100</span></div>
    <div class=" color-item w-two"><span>200</span></div>
    <div class=" color-item w-thr"><span>300</span></div>
    <div class=" color-item w-tho"><span>400</span></div>
    <div class=" color-item w-five"><span>500</span></div>
    <div class=" color-item w-six"><span>600</span></div>
    <div class=" color-item w-sev"><span>700</span></div>
    <div class=" color-item w-egh"><span>800</span></div>
    <div class=" color-item w-nine"><span>900</span></div>
  </div>

</div>