/* Add application styles & imports to this file! */

@import './app/core/theme/theming';
@import './app/core/theme/palette';
@import './app//core//typography/typography.scss';
@import './app/components/input/input-theme.scss';
@import './app/components/input/input-theme.scss';
@import './app//components//select/select-theme.component.scss';
@import './app//components//layout/layout.theme.scss';
@import './app/components/menu/menu-theme.scss';
@import './app/components/checkbox/checkbox-theme.component.scss';
@import './app/components/card/card.component.scss';
@import './app//components/autocomplete/autocomplete-theme.scss';

@import '~@angular/cdk/overlay-prebuilt.css';

.wrap {
  display: flex;
    justify-content: space-between;
    width: 520px;
    margin-top: 20px;
    align-items: center;
}


$primary: palette($primary);
$accent:  palette($accent, A200, A100, A400);
$warn:  palette($warn);

$theme: theme($primary, $accent, $warn);
$typography: typography-config();


@mixin colors($theme) {
  $primary: map-get($theme, primary);
  $contrast: get-color($primary, contrast);
  
  .pr-fifty {
    background-color: get-color($primary, 50);
    color: get-color($contrast, 50);
  }
  .pr-sto {
    background-color: get-color($primary, 100);
    color: get-color($contrast, 100);
  }
  .pr-two {
    background-color: get-color($primary, 200);
    color: get-color($contrast, 200);
  }
  .pr-thr {
    background-color: get-color($primary, 300);
    color: get-color($contrast, 300);
  }
  .pr-tho {
    background-color: get-color($primary, 400);
    color: get-color($contrast, 400);
  }
  .pr-five {
    background-color: get-color($primary, 500);
    color: get-color($contrast, 500);
  }
  .pr-six {
    background-color: get-color($primary, 600);
    color: get-color($contrast, 600);
  }
  .pr-sev {
    background-color: get-color($primary, 700);
    color: get-color($contrast, 700);
  }
  .pr-egh {
    background-color: get-color($primary, 800);
    color: get-color($contrast, 800);
  }
 
  .pr-nine {
    background-color: get-color($primary, 900);
    color: get-color($contrast, 900);
  }

  $accent: map-get($theme, accent);
  $accentContrast: get-color($accent, contrast);
   
  .ac-fifty {
    background-color: get-color($accent, 50);
    color: get-color($accentContrast, 50);
  }
  .ac-sto {
    background-color: get-color($accent, 100);
    color: get-color($accentContrast, 100);
  }
  .ac-two {
    background-color: get-color($accent, 200);
    color: get-color($accentContrast, 200);
  }
  .ac-thr {
    background-color: get-color($accent, 300);
    color: get-color($accentContrast, 300);
  }
  .ac-tho {
    background-color: get-color($accent, 400);
    color: get-color($accentContrast, 400);
  }
  .ac-five {
    background-color: get-color($accent, 500);
    color: get-color($accentContrast, 500);
  }
  .ac-six {
    background-color: get-color($accent, 600);
    color: get-color($accentContrast, 600);
  }
  .ac-sev {
    background-color: get-color($accent, 700);
    color: get-color($accentContrast, 700);
  }
  .ac-egh {
    background-color: get-color($accent, 800);
    color: get-color($accentContrast, 800);
  }
 
  .ac-nine {
    background-color: get-color($accent, 900);
    color: get-color($accentContrast, 900);
  }

  $warn: map-get($theme, warn);
  $warnContrast: get-color($warn, contrast);

     
  .w-fifty {
    background-color: get-color($warn, 50);
    color: get-color($warnContrast, 50);
  }
  .w-sto {
    background-color: get-color($warn, 100);
    color: get-color($warnContrast, 100);
  }
  .w-two {
    background-color: get-color($warn, 200);
    color: get-color($warnContrast, 200);
  }
  .w-thr {
    background-color: get-color($warn, 300);
    color: get-color($warnContrast, 300);
  }
  .w-tho {
    background-color: get-color($warn, 400);
    color: get-color($warnContrast, 400);
  }
  .w-five {
    background-color: get-color($warn, 500);
    color: get-color($warnContrast, 500);
  }
  .w-six {
    background-color: get-color($warn, 600);
    color: get-color($warnContrast, 600);
  }
  .w-sev {
    background-color: get-color($warn, 700);
    color: get-color($warnContrast, 700);
  }
  .w-egh {
    background-color: get-color($warn, 800);
    color: get-color($warnContrast, 800);
  }
 
  .w-nine {
    background-color: get-color($warn, 900);
    color: get-color($warnContrast, 900);
  }
}


@mixin button-base {
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  min-width: 80px;
  height: 32px;
  border-radius: 4px;
  padding: 4px 11px;
  -webkit-tap-highlight-color: transparent;
  border: 0px;
  background-color: none;
  background-color: transparent;
}

@mixin buttons-colors($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  .button {
    color: get-color($foreground, text);
  }

  .button {
    &.btn-sm {
      padding: 1px 7px;
      height: 24px;
    }
    &.btn-lg {
      padding: 6px 11px;
      height: 40px;
    }
  }
  
  .button-primary {
    color:  get-color($primary);
  }

  .simpleButton {
    &.button-primary {
      .sh-button-focus-overlay {
        background-color: get-color($primary);
      }
    }
  }
  .simpleButton {
    &.button-accent {
      .sh-button-focus-overlay {
        background-color: get-color($accent);
      }
    }
  }

  .simpleButton {
    &.button-warn {
      .sh-button-focus-overlay {
        background-color: get-color($warn);
      }
    }
  }

  .button-primary-flat {
    color:  get-color($primary, default-contrast);
    background-color: get-color($primary);
  }
  .button-accent{
    color:  get-color($accent);
  }
  .button-accent-flat {
    color:  get-color($accent, default-contrast);
    background-color: get-color($accent);
  }
  .button-warn{
    color:  get-color($warn);
  }
  .button-warn-flat {
    color:  get-color($warn, default-contrast);
    background-color: get-color($warn);
  }

  .flatButton  {
    &.button-primary{
      color:  get-color($primary, default-contrast);
      background-color: get-color($primary);
    }
    &.button-accent{
      color:  get-color($accent, default-contrast);
      background-color: get-color($accent);
    }
    &.button-warn{
      color:  get-color($warn, default-contrast);
      background-color: get-color($warn);
    }
  }

  .strokedButton  {
    border: 1px solid;
    &.button-primary{
      color:  get-color($primary);
      border-color: get-color($primary);
    }
    &.button-accent{
      color:  get-color($accent);
      border-color: get-color($accent);
    }
    &.button-warn{
      color:  get-color($warn);
      border-color: get-color($warn);
    }
  }

  .strokedButton {
    &.button-primary {
      .sh-button-focus-overlay {
        background-color: get-color($primary);
      }
    }
  }
  .strokedButton {
    &.button-accent {
      .sh-button-focus-overlay {
        background-color: get-color($accent);
      }
    }
  }

  .strokedButton {
    &.button-warn {
      .sh-button-focus-overlay {
        background-color: get-color($warn);
      }
    }
  }

  .button-disabled {
    color:  get-color($foreground, disabled-button);
    background-color: get-color($foreground, disabled-button);
  }
} 

@mixin button-typography($config) {
  $buttonConfig: map-get($config, button);
  .button {
    font: {
      family: map-get($buttonConfig, font-family);
      size: map-get($buttonConfig, font-size);
      weight: map-get($buttonConfig, font-weight);
    }
  }
}

@mixin button-theme($theme, $config) {
  @include buttons-colors($theme);
  @include button-typography($config);
}


.button {
   @include button-base;
}

@include button-theme($theme, $typography);

@include input-theme($theme, $typography);

@include layout-theme($theme);

@include menu-theme($theme);

@include checkbox-color($theme);

@include card-color($theme);

@include mat-base-typography($typography);

@include sh-autocomplete-theme($theme);

@include colors($theme);

html, body { height: 100%; }
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }

.cdk-overlay-dark-backdrop {
  background: transparent !important;
}





.card {
  background-color: #f9f9f9;
  outline: solid 1px #f0f0f0;
  transition: outline 0.1s linear;
  margin: 24px; 
  width: 300px;
  box-sizing: border-box;
  
}

.card:hover {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-header {
  padding: 24px;
  border-bottom: 1px solid #f0f0f0;
}

.card-content {
  padding: 24px;
  font-size: 14px;
  line-height: 1.7;
}

.card-action {
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
  color: #4e94ff;
  cursor: pointer;

}
