@mixin menu-theme($theme) {

  .menu {

  }

  .menu-collapsed {
    width: 50px;
  }

  ul.menu  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .menu-item:hover {
    cursor: pointer;
    background-color: #4084ea;
    color: white;
  }

  .menu-item img {
    margin-right: 8px;
  }
}
