<div style="
margin: 20px;
padding: 24px;
background-color: white; height: 100%;">

  <div style="padding-left: 20px;">

    <h2>Tooltip</h2>


    <div>
      <div>
        <h4>Анатомия tooltip</h4>
        <div>
          <img src='../../../assets/anatomi/tooltip.svg'>
        </div>
      </div>
    </div>

    <div>
      <button ui-tooltip content='khkhkh' style="margin-right: 8px;" flatButton color="primary">Primary Flat</button>
    </div>

    <h2>Этапы создания</h2>

    <div>
      С точки зрения реализации сделаем 1 директиву, 1 компонент. Директива будет слушать события focus и blur,
      показывать или скрывать компонент<div class=""></div>
    </div>



  </div>

</div>